.header {
font-family: 'Schoolbell', cursive;
font-size: 80px;
text-align: center;
color: blue;
}


.button{
    text-align: center;
    margin-top: 200px;
    -webkit-appearance: none;
    border-radius: 0;
    padding:0
    
    
}

#button {
height: 200px;
width: 400px;
text-align: center;
font-size: 80px;
font-family: 'Schoolbell', cursive;
color: purple;
padding: 0
}